<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="dateFormat" class="java.text.SimpleDateFormat">
        <constructor-arg value="yyyy-MM-dd" />
    </bean>

    <bean id="dateTimeFormat" class="java.text.SimpleDateFormat">
        <constructor-arg value="yyyy-MM-dd-HH-mm"/>
    </bean>

    <bean id="user" class="epam.spring.beans.User" scope="prototype">
        <property name="birthday">
            <bean factory-bean="dateFormat" factory-method="parse">
                <constructor-arg value="2000-10-26"/>
            </bean>
        </property>
        <property name="email" value="default"/>
    </bean>

    <bean id="user1" class="epam.spring.beans.User" scope="prototype">
        <constructor-arg value="admin"/>
        <constructor-arg value="admin"/>
        <constructor-arg value="admin"/>
        <constructor-arg value="admin"/>
        <constructor-arg>
            <bean factory-bean="dateFormat" factory-method="parse">
                <constructor-arg value="1980-10-26"/>
            </bean>
        </constructor-arg>
        <property name="id" value="1"/>
    </bean>

    <bean id="user2" class="epam.spring.beans.User" scope="prototype">
        <constructor-arg value="event"/>
        <constructor-arg value="creator"/>
        <constructor-arg value="event"/>
        <constructor-arg value="event"/>
        <constructor-arg>
            <bean factory-bean="dateFormat" factory-method="parse">
                <constructor-arg value="1985-02-03"/>
            </bean>
        </constructor-arg>
        <property name="id" value="2"/>
    </bean>

    <bean id="user3" class="epam.spring.beans.User" scope="prototype">
        <constructor-arg value="user"/>
        <constructor-arg value="user"/>
        <constructor-arg value="user"/>
        <constructor-arg value="user"/>
        <constructor-arg>
            <bean factory-bean="dateFormat" factory-method="parse">
                <constructor-arg value="1990-05-20"/>
            </bean>
        </constructor-arg>
        <property name="id" value="3"/>
    </bean>

    <bean id="event" class="epam.spring.beans.Event" scope="prototype">
    </bean>

    <bean id="event1" class="epam.spring.beans.Event" scope="prototype">
        <constructor-arg index="0" value="The Martian"/>
        <constructor-arg index="1" value="100"/>
        <constructor-arg index="2" value="HIGH"/>
    </bean>

    <bean id="event2" class="epam.spring.beans.Event" scope="prototype">
        <constructor-arg index="0" value="Prometheus"/>
        <constructor-arg index="1" value="150"/>
        <constructor-arg index="2" value="MID"/>
    </bean>

    <bean id="event3" class="epam.spring.beans.Event" scope="prototype">
        <constructor-arg name="name" value="Interstellar"/>
        <constructor-arg name="price" value="70"/>
        <constructor-arg name="rating" value="LOW"/>
    </bean>

    <bean id="assignedevent" class="epam.spring.beans.AssignedEvent" scope="prototype">
    </bean>

    <bean id="ticket" class="epam.spring.beans.Ticket" scope="prototype">
    </bean>


    <bean id="ticket1" class="epam.spring.beans.Ticket" scope="prototype">
        <constructor-arg name="event" ref="event1"/>
        <constructor-arg name="date">
            <bean factory-bean="dateTimeFormat" factory-method="parse">
                <constructor-arg value="2015-10-26-10-00"/>
            </bean>
        </constructor-arg>
        <constructor-arg name="seat" value="7">
        </constructor-arg>
        <constructor-arg name="user" ref="user1"/>
        <constructor-arg name="auditorium" ref="big"/>
        <property name="price" value="100"/>
    </bean>

    <bean id="ticket2" class="epam.spring.beans.Ticket" scope="prototype">
        <constructor-arg name="event" ref="event2"/>
        <constructor-arg name="date">
            <bean factory-bean="dateTimeFormat" factory-method="parse">
                <constructor-arg value="2015-10-26-11-00"/>
            </bean>
        </constructor-arg>
        <constructor-arg name="seat" value="3"/>
        <constructor-arg name="user" ref="user2"/>
        <constructor-arg name="auditorium" ref="medium"/>
        <property name="price" value="90"/>
    </bean>

    <bean id="ticket3" class="epam.spring.beans.Ticket" scope="prototype">
        <constructor-arg name="event" ref="event3"/>
        <constructor-arg name="date">
            <bean factory-bean="dateTimeFormat" factory-method="parse">
                <constructor-arg value="2015-10-26-13-00"/>
            </bean>
        </constructor-arg>
        <constructor-arg name="seat" value="5">
        </constructor-arg>
        <constructor-arg name="user" ref="user3"/>
        <constructor-arg name="auditorium" ref="small"/>
        <property name="price" value="50"/>
    </bean>

</beans>